@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import './common/vars';
@import './common/reset';

body {
    min-height: 100vh;
}

.wrap {
    background: #EAEEF6;
    min-height: inherit;
}

.white_block {
    width: 100%;
    min-height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 15px 30px rgba(32, 56, 85, 0.15);
    border-radius: 8px;
}

.wcst_input {
    position: relative;
    width: 100%;
    box-sizing: border-box;

    $root: &;
    
    & * {
        box-sizing: border-box;
    }

    &__wrap {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 2px;
            background: #0891b2;
            transition: width 0.2s ease-in-out;
        }

        &.focus {
            &:after {
                width: 100%;
            }
        }
    }

    &__label {
        font: 400 16px/20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #6b7280;
        text-rendering: optimizeLegibility;
    }

    &__main {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        width: 100%;

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: #0891b2;
            transition: background 0.15s;
        }

        &:hover {
            &:before {
                background: #0891b2;
            }
        }
    }

	&__input {
        display: block;
        flex: 1 1 auto;
        width: inherit;
        height: inherit;
        padding: 8px 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000;
        border: none;
        outline: none;

        &::-webkit-input-placeholder {color: #000;}
        &::-moz-placeholder          {color: #000;}
        &:-moz-placeholder           {color: #000;}
        &:-ms-input-placeholder      {color: #000;}
    }
    
    &__textarea {
        @extend #{$root}__input;
        min-height: 100px;
        line-height: 22px;
        resize: vertical;
    }

	&__clean_btn {
        position: relative;
        width: 24px;
        height: 24px;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            top: 11px;
            left: 3px;
            width: 18px;
            height: 2px;
            background: #797979;
            border-radius: 2px;
            transform: rotate(45deg);
        }

        &:after {
            @extend :before;
            transform: rotate(-45deg);
        }
	}
}

.round_close_icon {
    background: url('../images/round-close-icon.svg') 0 0/contain no-repeat;
}

.btn {
    
    @apply text-sm font-600 uppercase p-3 rounded-md focus:outline-none transition-colors no-underline cursor-pointer min-w-25;
    
    &.primary {
        @apply bg-cyan-600 hover:bg-cyan-700 text-light-200;
    }

    &.danger {
        @apply bg-[#ff2919] hover:bg-[#e62217] text-light-200 normal-case;
    }

    &.secondary {
        @apply bg-cool-gray-100 hover:bg-cool-gray-200 text-cool-gray-500 normal-case;
    }

    &.small {
        @apply text-sm font-400 rounded-[3px] p-2;
    }
}

.progress_bar {
    position: relative;
    height: 6px;
    border-radius: 3px;
    background: #e5e7eb;
    overflow: hidden;

    &__lvl {
        width: 0;
        height: inherit;
        transition: width 0.2s;

        &.blue {
            @apply bg-clr-blue;
        }

        &.green {
            @apply bg-clr-green-light;
        }
    }
}