<template lang="pug">
    div( class="flex relative <md:flex-col" )

        div( class="flex-1 mr-4 <md:mr-0 <md:mb-4" )
            div( class="relative p-5 white_block" )
                div( class="mb-1 text-[13px] text-cool-gray-400" v-html="get_date(task.time)+' в '+get_time(task.time)" )
                editable_area( classes="block mb-3 w-full text-2xl text-cyan-600 outline-none resize-none p-0 break-all" :value="task.title" )
                editable_area( classes="block w-full text-base overflow-visible text-cool-gray-500 outline-none resize-none p-0 break-all" :value="task.text" )

        div( class="relative flex-1" )
            div( class="p-5 white_block" )
                check_list_items( :check_list="task.check_list" :task_time="task.time" )
                add_to_check_list( :task_time="task.time" )

</template>



<script>
import editable_area from '@/components/editable_area'
import check_list_items from '@/components/check_list_items'
import add_to_check_list from '@/components/add_to_check_list'
import { dateConverter, timeConverter } from '@/utils.js'

export default {
    name: 'show_note',

    components: {
        editable_area,
        check_list_items,
        add_to_check_list,
    },

    computed: {
        task() {
            return this.$store.getters.getNoteByTime(this.$route.params.time)
        }
	},

    methods: {
        get_date(time) {
            return dateConverter(time, 2)
        },

        get_time(time) {
            return timeConverter(time)
        },
    },
}
</script>