<template lang="pug">

    div( class="flex-1" )
        div( class="" v-if="show_field" )

            textarea( ref="input" v-model="item_text" @keyup.enter="add_item_to_list" @input="recalc" data-no_scroll class="mb-1 p-1 w-full h-[36px] text-base text-cool-gray-500 rounded-[3px] border-2 outline-none focus:border-clr-blue focus:border-2 resize-none" )

            div( class="flex items-center" )
                button( v-if="mode === 'add'" class="btn small secondary" @click="add_item_to_list()" ) Добавить
                button( v-if="mode === 'edit'" class="btn small secondary" @click="edit_list_item()" ) Сохранить
                button( v-if="show_field && mode === 'edit'" class="btn small danger ml-2" ) Удалить

        button( class="btn small secondary" v-if="!show_field" @click="toggle_field()" ) Добавить элемент

</template>



<script>
export default {

    name: 'add_to_check_list',

    props: {

        task_time: {
            type: Number,
        },

        mode: {
            type: String,
            default: 'add'
        },

        item_text_to_edit: {
            type: String,
            default: ''
        },
    },

    mounted () {
        if ( this.mode === 'edit' ) {
            this.show_field = true
            this.item_text = this.item_text_to_edit
        }
    },

    data() {
        return {
            show_field: false,
            item_text: '',
            input_init_height: null,
        }
    },

    methods: {

        toggle_field() {
            this.show_field = !this.show_field

            this.$nextTick(() => {
                this.$refs.input.focus()
                this.input_init_height = this.show_field && this.input_init_height === null ? this.$refs.input.offsetHeight : null
            })
        },

        add_item_to_list() {
            if ( this.item_text.length > 0 ) {
                let items = this.item_text.replace(/^\s+/g, '').split(/\n+/g)

                let i = 0
                let timerId = setTimeout(function insert() {

                    if ( items[i] === undefined ) {
                        clearTimeout(timerId)
                        return
                    }

                    if ( items[i].length > 0 ) {
                        this.$store.dispatch('ADD_ITEM_TO_CHECK_LIST', {
                            time_id: this.task_time,
                            item_text: items[i],
                        })
                    }

                    i++
                    timerId = setTimeout(insert.bind(this), 10);
                }.bind(this), 2);

                this.item_text = ''
                this.$refs.input.focus()
                this.$refs.input.style.height = this.input_init_height + 'px'
            }
        },

        edit_list_item() {
            if ( this.item_text.length > 0 ) {

                let text = this.item_text.replace(/^\s+/g, '')

                if ( text.length > 0 ) {
                    this.$store.dispatch('EDIT_CHECK_LIST_ITEM', {
                        time_id: this.task_time,
                        item_text: text,
                    })
                }

            }
        },

        recalc(e) {
            if ( !/^([^\n]+|)(\n+)$/.test(e.target.value) ) {
                this.$refs.input.style.height = this.input_init_height
                if ( this.$refs.input.scrollHeight != this.$refs.input.clientHeight ) {
                    this.$refs.input.style.height = this.$refs.input.scrollHeight + 'px'
                }
            }
        },
    },
    
}
</script>