<template lang="pug">

    div( class="" )
        check_list_filter( v-model="check_list_search" :check_list="check_list" )

        progress_bar( :check_list="check_list" )

        div( class="" )
            check_list_item( v-for="( item, index ) in check_list_items" :item="item" :index="index" :task_time="task_time" :list_item_time_id="item.list_item_time_id" :key="index" )

</template>



<script>
import check_list_filter from '@/components/check_list_filter'
import progress_bar from '@/components/progress_bar'
import check_list_item from '@/components/check_list_item'

export default {
    
    name: 'check_list_items',

    props: ['check_list', 'task_time'],

    components: {
        check_list_filter,
        progress_bar,
        check_list_item,
    },

    data() {
        return {
            check_list_search: '',
        }
    },

    computed: {
        check_list_items() {
            return this.$store.getters.getCheckListItems(this.task_time, this.check_list_search)
        }
    },

}
</script>