<template lang="pug">

    div( class="flex items-start my-3" )
        div( class="flex items-center justify-center mr-2" @click="change_item_state(index)" )
            CheckboxBlankOutline( class="h-[24px] text-clr-blue" v-if="!item.completed" )
            CheckboxMarked( class="h-[24px] text-clr-blue" v-if="item.completed" )
        
        span(
            v-if="!item.edited_now"
            @click="edit_mode_on(index)"
            class="break-all"
            :class="{ 'line-through': item.completed }"
        ) {{ item.text }}

        add_to_check_list(
            v-if="item.edited_now"
            :task_time="task_time"
            mode="edit"
            :item_text_to_edit="item.text"
        )

</template>



<script>
import CheckboxBlankOutline from 'vue-material-design-icons/CheckboxBlankOutline.vue'
import CheckboxMarked from 'vue-material-design-icons/CheckboxMarked.vue'
import add_to_check_list from '@/components/add_to_check_list'

export default {
    
    name: 'check_list_item',

    props: {
        item: {
            type: Object,
            default: () => { return {} }
        },

        index: {
            type: String,
            default: null
        },

        task_time: {
            type: Number,
            default: null
        },
    },

    components: {
        CheckboxBlankOutline,
        CheckboxMarked,
        add_to_check_list,
    },

    methods: {

        change_item_state(list_item_time_id) {
            this.$store.dispatch('TOGGLE_CHECK_LIST_ITEM_STATE', {
                time_id: this.task_time,
                list_item_time_id: list_item_time_id,
            })
        },

        edit_mode_on(list_item_time_id) {
            this.$store.dispatch('TOGGLE_CHECK_LIST_ITEM_EDIT', {
                time_id: this.task_time,
                list_item_time_id: list_item_time_id,
            })
        },

    },

}
</script>