<template lang="pug">

    div( class="flex" )
        button( class="btn danger mr-3" @click="ok()" ) Ок
        button( class="btn primary" @click="close_window()" ) Отмена

</template>



<script>
export default {

    name: 'confirm_form',

    methods: {

        ok() {
            if ( this.$store.getters.modalDataForComponent !== null || this.$store.getters.modalDataForComponent.action_name !== undefined ) {
                this.$store.dispatch(
                    this.$store.getters.modalDataForComponent.action_name,
                    this.$store.getters.modalDataForComponent.payload
                )
                this.$store.dispatch('CLOSE_MODAL')
            }
        },

        close_window() {
            this.$store.dispatch('CLOSE_MODAL')
        },

    },

}
</script>