<template lang="pug">

    div(data-editable_area)
        div( v-if="!focus" ref="text" :class="classes" v-html="value" @mouseup="focusin()" )
        textarea(
            v-if="focus"
            :class="classes"
            :value="value",
            type="text"
            ref="input"
            @focusout="focusout()"
            @keyup="recalc()"
        )

</template>



<script>
export default {

	props: ['value', 'classes'],

    mounted () {
        this.text_h = this.$refs.text.scrollHeight
    },

    data() {
        return {
            focus: false,
            text_h: null,
        }
    },

    methods: {

        focusin() {
            let focusOffset = window.getSelection().focusOffset;

            setTimeout(() => {
                this.focus = true
                
                setTimeout(() => {
                    this.$refs.input.style.height = this.text_h + 'px'
                    this.$refs.input.focus()
                    this.$refs.input.setSelectionRange(focusOffset, focusOffset)
                })
            })
        },

        focusout() {
            this.focus = false
        },

        recalc() {
            this.$refs.input.style.height = 'auto'
            if ( this.$refs.input.scrollHeight != this.$refs.input.clientHeight ) {
                this.$refs.input.style.height = this.$refs.input.scrollHeight + 'px'
            }
        },

    },
}
</script>
