<template lang="pug">
div( class="wcst_input" ) 
	div( class="wcst_input__wrap" v-if="type !== 'textarea'" :class="{focus: focus}")
		label( class="wcst_input__label" :for="id") {{ label }}
		div( class="wcst_input__main" ) 
			input(
                class="wcst_input__input"
				:id="id",
				:type="type",
				:disabled="disabled",
				:readonly="readonly",
				:placeholder="placeholder_cmp",
				:value="value",
				@input="$emit('input', $event.target.value)",
				@focusin="focus = true",
				@focusout="focus = false",
			)
			div( class="wcst_input__clean_btn" v-if="clean_btn" @click="clean")
		div( class="wcst_input__details" ) 

	div( class="wcst_input__wrap" v-if="type == 'textarea'" :class="{focus: focus}")
		label( class="wcst_input__label" :for="id") {{ label }}
		div( class="wcst_input__main" ) 
			textarea.wcst_input__textarea(
				v-if="type === 'textarea'",
				:disabled="disabled",
				:readonly="readonly",
				:placeholder="placeholder",
				:value="value",
				@input="$emit('input', $event.target.value)",
				@focusin="focus = true",
				@focusout="focus = false",
	)
</template>



<script>
export default {
	props: {
		id: {
			type: String,
			default: null,
		},

		type: {
			type: String,
			default: 'text',
		},
		
		value: {
			type: String,
			default: null,
		},

		placeholder: {
			type: String,
			default: null,
		},

		label: {
			type: String,
			default: null,
		},

		disabled: {
			type: Boolean,
			default: false,
		},

		readonly: {
			type: Boolean,
			default: false,
		},

		clearable: {
			type: Boolean,
			default: false,
		},
	},

	data() {
		return {
			focus: false,
		}
	},

	computed: {
		clean_btn() {
			return this.clearable &&  ( this.value === null ? 0 : this.value.length ) > 0 ? true : false
		},

		placeholder_cmp() {
			return this.label === null || this.label === '' ? this.placeholder : null
		},
	},

	methods: {
		clean() {
			this.value = ''
			this.$emit('input', '')
		},
	},
}
</script>
