<template lang="pug">

div( class="fixed inset-0 flex justify-center items-center p-2 bg-dark-900 bg-opacity-80" v-if="open" )
    div( class="relative flex flex-col min-h-30 w-full max-w-150 bg-[#fff] rounded-lg overflow-hidden" )
        div( class="absolute top-2 right-2 w-12 h-12 cursor-pointer round_close_icon" @click="close_window()" ) 
        div( class="p-5 pr-14 break-words text-2xl" v-if="title.length > 0" v-html="title" )
        div( class="px-5 pb-5" )
            component( :is="component" )

</template>



<script>
import { mapGetters } from 'vuex';

export default {
    computed: {
        ...mapGetters({
            open: 'modalOpen',
            title: 'modalTitle',
            component_name: 'modalComponentName',
        }),

        component() {
            return () => import('@/components/' + this.component_name)
        }
    },

    methods: {
        close_window() {
            this.$store.dispatch('CLOSE_MODAL')
        }
    },
}
</script>
