<template lang="pug">

    div( v-if="stat.total_items > 0" )
        div( class="flex justify-between mb-1 text-sm text-cool-gray-400" )
            span {{ Math.round(stat.perscent) }}%
            span {{ stat.completed_items }}/{{ stat.total_items }}
        div( class="progress_bar" :style="{ height: height + 'px' }" )
            div( class="progress_bar__lvl" :class="{ green: stat.perscent === 100, blue: stat.perscent < 100 }" :style="{ width: stat.perscent + '%' }" )
        
</template>



<script>
export default {

    name: 'progress_bar',

    props: {
        check_list: {
            type: Object,
            default: () => { return {} }
        },

        height: {
            type: String,
            default: null
        },
    },

    computed: {

        stat() {
            let completed_items = 0
            let total_items = 0
            for (const key in this.check_list) {
                if ( this.check_list[key].completed === true ) {
                    completed_items++
                }
                total_items++
            }
            return {
                completed_items: completed_items,
                total_items: total_items,
                perscent: (completed_items / total_items) * 100,
            }
        },

    },
    
}
</script>