textarea, button {
    font-family: $f1;
}

[data-editable_area] {
    textarea {
        &::-webkit-scrollbar {
            width: 0;
        }
    }
}

textarea[data-no_scroll] {
    &::-webkit-scrollbar {
        width: 0;
    }
}